.SearchInput {
    width: 15em;
    position: relative;
    flex: 1;
    border: 1px solid green;
    padding: 1em;
border-radius: 25px;
    input {
        outline: 0;
        border: 0;
        background: none;
        width: 100%;
       

        // &::-webkit-input-placeholder {
        //     color: $black-50;
        // }

        // &:-moz-placeholder {
        //     color: $black-50;
        // }

        // &::-moz-placeholder {
        //     color: $black-50;
        // }

        // &:-ms-input-placeholder {
        //     color: $black-50;
        // }
    }
}