// colors:
// Wedgewood
// #4A6F9E

// Mischka
// #DBDBE4

// Perano
// #A4C4F0

// Ebony Clay
// #202A39
.SearchInput {
	width: 15em;
	position: relative;
	border: 1px solid #4a6f9e;
	padding: 1em;
	border-radius: 25px;
	input {
		outline: 0;
		border: 0;
		background: none;
		width: 100%;

		// &::-webkit-input-placeholder {
		//     color: $black-50;
		// }

		// &:-moz-placeholder {
		//     color: $black-50;
		// }

		// &::-moz-placeholder {
		//     color: $black-50;
		// }

		// &:-ms-input-placeholder {
		//     color: $black-50;
		// }
	}
}
