.SearchHotels {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.searchBtn {
		padding: 1em;
		margin-left: 1em;
	}
}
.hotelsList {
	display: flex;
	align-items: center;
	justify-content: center;
	.hotelsContainer {
		display: flex;
		// justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
}
